body {
  font-size: 100%;
  background: #222A27;
}
header{
  width: 1510px;
  height: 72px;
  background: linear-gradient(#222A27, #3B623D, #4C944C, #6DFF6B); 
}
.logo{
  float: left;
}
.logo a {
  display: block;
}
.logo img{
  width: 144px;
  height: 71px;
  margin-left: 15px;
}
.nav {
  float: left;
  margin-top: -10px;
}
.nav > ul > li {
  display:inline-block;
}
.nav > ul > li > a {
  display: block;
  font-family: 'Courier New';
  font-size: 20px;
  padding: 13px;
  margin-top: 5px;
  color: white;
  text-decoration: none;
}
.prof{
  float: right;
  display: flex;
}

.search{
  width: 155px;
  height: 25px;
  border-radius: 10px;
  background-color: rgb(255, 255, 255, 0.15);
}
input{
  border: 1px solid  white;
  font-family: 'Courier New';
  color: white;
  padding-left: 5px
}
.search::placeholder {
        color: #fff;
}
form{
  margin-top: 5px;
}
button{
  background-color: rgb(255, 255, 255, 0);
  border: none;
  cursor: pointer;
  font-family: 'Courier New';
  color: white;
  font-size: 20px;
}
.searchb img{
   position: absolute;
  top: 32px;
  right: 335px;
  color: #4f5b66;
  object-fit: cover;
}
.searchk{
display: block;
  font-family: 'Courier New';
  font-size: 20px;
  padding: 13px;
  color: white;
  text-decoration: none
}
.profnav {
  float: right;
  margin-top: 0px;
}
.profnav  > li {
  display:inline-block;
}
.profnav  > li > a {
  display: block;
  font-family: 'Courier New';
  font-size: 20px;
  padding: 13px;
  color: white;
  text-decoration: none;
}
.searchk img{
  position: relative;
  top: 5px;
  margin-left: 5px;
}
.searchp{
display: block;
  font-family: 'Courier New';
  font-size: 20px;
  padding: 13px;
  color: white;
  text-decoration: none
}
.searchp img{
  position: relative;
  top: 12px;
  margin-left: 5px;
}
/*main{
  display: flex;
  flex-wrap: wrap;
}*/
.carousel {
  margin-left: 5%;
  height: 550px;
}

ul.slides {
  display: block;
  position: relative;
  width: 750px;
  height: 700px;
  padding: 0;
  overflow: hidden;
  list-style: none;
}

.slides * {
  user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -webkit-touch-callout: none;

}

ul.slides input {
  display: none;
}
.slide-container {
  display: block;
}

.slide-image {
  display: block;
  position: absolute;
  width: 500px;
  height: 670px;
  border-radius: 10px;
  opacity: 0;
  transition: all .7s ease-in-out;
  margin-top: 10px;
  margin-left: 245px;
}

.slide-image img {
  object-fit: cover;
  width: 500px;
  height: 670px;
  border-radius: 10px;

}

.carousel-dots {
  display: flex;
  left: 0;
  right: 0;
  bottom: 20px;
  z-index: 999;
  text-align: center;
  flex-direction: column;
  border-radius: 10px;
}
.carousel-dots img{
  width: 210px;
  height: 210px;
  object-fit: cover;
  border-radius: 10px;
}
.carousel-dots .carousel-dot {
  display: inline-block;
  width: 210px;
  height: 210px;
  background-color: rgb(255, 255, 255, 0);
  border-radius: 10px;
  margin: 10px;
}
.carousel-dots label:hover{
  box-shadow: 0px 0px 6px 6px #6DFF6B;
  transition: .5s;
  opacity: 1;
  cursor: pointer;
}


input:checked + .slide-container .slide-image {
  opacity: 1;
  transform: scale(1);
  transition: opacity 1s ease-in-out;
}

/*input:checked + .slide-container .carousel-controls label {
   display: block;
}*/

input#img-1:checked ~ .carousel-dots label#img-dot-1,
input#img-2:checked ~ .carousel-dots label#img-dot-2,
input#img-3:checked ~ .carousel-dots label#img-dot-3,
input#img-4:checked ~ .carousel-dots label#img-dot-4,
input#img-5:checked ~ .carousel-dots label#img-dot-5,
input#img-6:checked ~ .carousel-dots label#img-dot-6 {
opacity: 1;
}

input:checked + .slide-container .nav label { display: block; }
main{
  height: 800px;
  background: linear-gradient(#222A27, 87%, #222A27, #3B623D, #4C944C, #6DFF6B);
}

main p {
  font-size: 20px;
  color: #BCBFBE;
  letter-spacing: 1px;
  font-family: 'Courier New';
}

main h1 {
  font-size: 36px;
  color: white;
  font-family: 'Courier New';
}

main h2 {
  font-size: 30px;
  letter-spacing: -5px;
  color: white;
  font-family: 'Courier New';
}
.product{
  width: 565px;
}
.product ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.product ul li {
  display: block;
  overflow: hidden;
  position: relative;
}
.mark{
  display: flex;
}
.mark img{
  width: 50px;
  height: 50px;
  display: inline-block;
  top: 50%;
  transform: translate(0, -30%);
}
.mark h2{
  display: inline-block;
  font-weight: normal;
  margin: 0;
  top: 50%;
  transform: translate(0, -10%);
}
.mark p{
  display: inline-block;
  margin: 0;
  margin-left: 20px;
  top: 50%;
  transform: translate(0, 10%);
}
.item__label {
  display: inline-block;
  position: relative;
  
}

.item__label:after {
  content: '';
  position: absolute;
  left: 100%;
  right: -9999px;
  bottom: 0;
  border-bottom: 2px dotted #BCBFBE;
}

.left {
  width: 70%;
  overflow: hidden;
  position: relative;
  float: left;
  font-size: 26px;
  color: white;
  font-family: 'Courier New';
}

.item__cor {
  width: 30%;
  float: right;
  font-size: 26px;
  color: white;
  font-family: 'Courier New';
}
.slideshow-buttons {
  top: 70%;
  display: none;
}
.card__prices {
  margin-top: 30px;
  margin-bottom: 10px;
}

.card__price::after {
  content: "₽";
  margin-left: 4px;
  position: relative;
}

.card__price--discount {
  display:inline-block;
  font-weight: 700;
  font-family: 'Protest Revolution';
  font-size: 64px;
  color: #6DFF6B;
}


.card__price--common {
  font-weight: 400;
  color: #606060;
  display:inline-block;
  text-decoration: line-through;
  font-family: 'Protest Revolution';
  font-size: 36px;
}
.card__add {
  display: inline-block;
  width: 390px;
  height: 40px;
  font-weight: 400;
  font-size: 17px;
  color: black;
  padding: 10px;
  text-align: center;
  border-radius: 5px;
  cursor: pointer; 
  transition: 0.2s;
  margin-top: auto;
  overflow:hidden;
}
.one, .two, .three, .four {
  position: absolute;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: #E0C9CB;
}

.one {
  left: 22%;
}

.two {
  left: 27%;
}

.three {
  left: 32%;
}

.four {
  left: 37%;
}

.product {
  position: absolute;
  width: 40%;
  height: 100%;
  top: 10%;
  left: 60%;
}

.desc {
  text-transform: none;
  letter-spacing: 0;
  margin-bottom: 17px;
  color: #4E4E4E;
  font-size: 0.7em;
  line-height: 1.6em;
  margin-right: 25px;
  text-align: justify;
}

main button {
  background: #6DFF6B;;
  display: inline-block;
  outline: 0;
  border: 0;
  letter-spacing: 1px;
  color: black;
  cursor: pointer;
}
.buttons{
  display: inline-block;
}
.like{
  display: inline-block;
  width: 40px;
  height: 40px;
  border-radius: 5px;
  top: 50%;
  transform: translate(0, 28%);;

}
.like img{
  width: 35px;
  height: 35px;
}

.sizes {
  display: grid;
  color: #D9AAB7;
  grid-template-columns: repeat(auto-fill, 30px);
  width: 60%;
  grid-gap: 4px;
  margin-left: 20px;
  margin-top: 5px;
}
.sizes:hover {
  cursor: pointer;
}

.pick {
  margin-top: 11px;
  margin-bottom: 0;
  margin-left: 20px;
}

.size {
  padding: 9px;
  border: 1px solid #E0C9CB;
  font-size: 0.7em;
  text-align: center;
}
.size:hover {
  background: #BA7E7E;
  color: #F5F5F5;
  transition: all 0.4s ease-in-out;
}

.focus {
  background: #BA7E7E;
  color: #F5F5F5;
}
footer {
  margin: auto;
  height: 175px;
}
.media{
  display: inline-block;
}
.contacts, .social{
  width: 300px;
  display: inline-block;
  margin: 30px 0;

  padding: 0 100px;
}
.contacts h2{
  font-family: 'Courier New';
  color: white;
  font-size: 24px;
  font-weight: 40;
}
.contacts p{
  font-family: 'Courier New';
  color: white;
  font-size: 20px;
  font-weight: 40;
}
.social{
  width: 400px;
  height: 150px;
}
.social ul{
  text-decoration: none;
  list-style: none;
  padding-left: 0;
}
.social li{
  text-decoration: none;
  list-style: none;
}
.social h2{
  font-family: 'Courier New';
  color: white;
  font-size: 24px;
  font-weight: 40;
}
.social p{
  font-family: 'Courier New';
  color: white;
  font-size: 20px;
  font-weight: 40;
  padding-left: 50px;
}
.social img{
  position: absolute;
}
.footp{
  font-family: 'Protest Revolution';
  font-size: 24px;
  color: white;
  float: right;
  margin-top: 160px;
  display: flex;
}
 footer .logo img {
  margin-top: 70px;
  width: 215px;
  height: 105px;
}